.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.orange {
    background-color: orange;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

.maroon {
    background-color: maroon;
    color: white;
}